@page
@model MileAway.Pages.AddVehicleModel
@{
    ViewData["Title"] = "Kosten toevoegen page";
    Layout = "_Layout";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"
        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;</script>
}

<h1>Voeg voertuig toe</h1>
<div class="bs-stepper">
    <form asp-page-handler="Confirm">
        <div class="bs-stepper-header" role="tablist">
            <!-- your steps here -->
            <div class="step" data-target="#information-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                    <span class="bs-stepper-circle"></span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#photo-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="photo-part" id="photo-part-trigger">
                    <span class="bs-stepper-circle"></span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#costs-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="costs-part" id="costs-part-trigger">
                    <span class="bs-stepper-circle"></span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#confirm-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="confirm-part" id="confirm-part-trigger">
                    <span class="bs-stepper-circle"></span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <!-- your steps content here -->
            <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                <h2 class="text-center">Basisinformatie</h2>
                <div class="form-group mx-auto">
                    <label for="licensePlate">Kenteken*</label>
                    <input type="text" asp-for="Vehicle.License" class="kentekenplaat d-block mx-auto" style="font-size: 3em" id="licensePlate" placeholder="TIK HIER">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.License"></span>
                </div>
                @*<div class="form-group">
                        <label for="type">Soort voertuig</label>
                        <select class="form-control" asp-for="vehicle.Vehicle_Type" id="type">
                            <option value="---">---</option>
                            <option value="car">Auto</option>
                            <option value="van">Busje</option>
                            <option value="camper">Camper</option>
                            <option value="truck">Vrachtwagen</option>
                            <option value="motor">Motor</option>
                            <option value="scooter">Scooter</option>
                        </select>
                        <span class="invalid-feedback" asp-validation-for="vehicle.Vehicle_Type"></span>
                    </div>*@
                <div class="form-group">
                    <label for="brand">Merk*</label>
                    <input type="text" class="form-control" asp-for="Vehicle.Brand_Name" id="brand">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.Brand_Name"></span>
                </div>
                <div class="form-group">
                    <label for="model">Model*</label>
                    <input type="text" class="form-control" asp-for="Vehicle.Model_Name" id="model">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.Model_Name"></span>
                </div>
                <div class="form-group">
                    <label for="year">Bouwjaar</label>
                    <input type="text" class="form-control" asp-for="Vehicle.Manufacturing_Year" id="year">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.Manufacturing_Year"></span>
                </div>
                <div class="form-group">
                    <label for="color">Kleur</label>
                    <input type="text" class="form-control" asp-for="Vehicle.Color" id="color">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.Color"></span>
                </div>
                <div class="form-group">
                    <label for="fuelType">Brandstoftype</label>
                    <input type="text" class="form-control" asp-for="Vehicle.FuelType" id="fuelType">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.FuelType"></span>
                </div>
                <div class="form-group">
                    <label for="inputMileage">Kilometerstand</label>
                    <input type="text" class="form-control" asp-for="Vehicle.Mileage_Km" id="inputMileage">
                    <span class="invalid-feedback" asp-validation-for="Vehicle.Mileage_Km"></span>
                </div>
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-warning" href="/">Annuleren</button>
                    <button type="button" class="btn btn-light border-dark" onclick="nextStepper(); return false;">Volgende</button>
                </div>
            </div>
            <div id="photo-part" class="content text-center mx-auto" role="tabpanel" aria-labelledby="photo-part-trigger">
                <h2>Foto</h2>
                <p>Deze foto hebben we gevonden bij het kenteken.</p>

                <img width="400px" src="https://lh3.googleusercontent.com/proxy/oBFixbbSrMB5_nTjKzwt_UKQCM88vr4NgyMcwJ-IaGV-WU1_-bBVPI-uULqyQBiK6vbyW_sOYBMslV3CfzdPfM4rRKfI6NauX_kcTurLMZUra6c7or6IaSyedY7k7gs7jH_xyQEtl_RG-bPbudyTQeLeT2ZdJvCeG2Se9jF7nw" />
                <div class="mt-3">
                    <p>Wilt u deze gebruiken?</p>
                    <button type="button" class="btn btn-light border-dark">Ja</button>
                    @*<button type="" class="btn btn-light border-dark">Uploaden...</button>*@
                    <input type="file" asp-for="Vehicle.Vehicle_Image" id="vehicleImage">
                    @*//TODO: image upload*@

                </div>
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-light border-dark" onclick="toStepper(1);return false;">Vorige</button>
                    <button type="button" class="btn btn-light border-dark" onclick="nextStepper(); return false">Volgende</button>
                </div>
            </div>
            <div id="costs-part" class="content" role="tabpanel" aria-labelledby="costs-part-trigger">
                <h2 class="text-center">Kosten</h2>
                <div class="form-group">
                    <label for="roadTax">Wegenbelasting bedrag</label>
                    <input type="text" asp-for="Road_Tax" class="form-control" id="roadTax">
                    <span class="invalid-feedback" asp-validation-for="Road_Tax"></span>
                </div>
                <div class="form-group">
                    <label for="insurance">Verzekering bedrag</label>
                    <input type="text" asp-for="Insurance" class="form-control" id="insurance">
                    <span class="invalid-feedback" asp-validation-for="Insurance"></span>
                </div>
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-light border-dark" onclick="toStepper(2); return false;">Vorige</button>
                    <button type="button" class="btn btn-light border-dark" onclick="nextStepper(); return false">Volgende</button>
                </div>
            </div>
            <div id="confirm-part" class="content" role="tabpanel" aria-labelledby="confirm-part-trigger">
                <h2 class="text-center">Bevestigen</h2>
                @if (Model.Vehicle != null)
                {
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Kenteken: </td>
                                <td>@Model.Vehicle.License </td>
                            </tr>
                            <tr>
                                <td>Merk:</td>
                                <td>@Model.Vehicle.Brand_Name </td>
                            </tr>
                            <tr>
                                <td>Model: </td>
                                <td>@Model.Vehicle.Model_Name </td>
                            </tr>
                            <tr>
                                <td>Kleur: </td>
                                <td>@Model.Vehicle.Color </td>
                            </tr>
                            <tr>
                                <td>Kilometerstand: </td>
                                <td>@Model.Vehicle.Mileage_Km </td>
                            </tr>
                            <tr>
                                <td>Wegenbelasting: </td>
                                <td>@Model.Road_Tax </td>
                            </tr>
                            <tr>
                                <td>Verzekering: </td>
                                <td>@Model.Insurance </td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="https://lh3.googleusercontent.com/proxy/oBFixbbSrMB5_nTjKzwt_UKQCM88vr4NgyMcwJ-IaGV-WU1_-bBVPI-uULqyQBiK6vbyW_sOYBMslV3CfzdPfM4rRKfI6NauX_kcTurLMZUra6c7or6IaSyedY7k7gs7jH_xyQEtl_RG-bPbudyTQeLeT2ZdJvCeG2Se9jF7nw" />
                }
                <button type="button" class="btn btn-light border-dark" onclick="toStepper(3); return false;">Vorige</button>
                <button type="submit" class="btn btn-light border-dark">Volgende</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var stepper;
    var kentekenplaat;

    document.addEventListener('DOMContentLoaded',
        function () {
            kentekenplaat = new Kentekenplaat(document.querySelector('.kentekenplaat'));
            stepper = new Stepper(document.querySelector('.bs-stepper'));
        });

    function nextStepper() {
        stepper.next();
    }
    function toStepper(step) {
        stepper.to(step);
    }

    window.addEventListener('load', function () {
        $("#licensePlate").on("blur", function () {
            var kenteken = $("#licensePlate").val();

           $.ajax({
                url: "@Url.Page("AddVehicle", "Apicall")",
                type: "GET",
                data: { kenteken: kenteken },
                success: function (data) {
                    if (data == false) {
                        $("#licensePlate").after('<br /><div class="alert alert-danger" role="alert">Het kenteken is niet geldig, probeer het opnieuw of vul de gegevens handmatig in.</div >');
                        return;
                    } else {
                        $(".alert").remove();
                    }
                    //set data inside inputfields by RDW API
                    var date = data[0].datum_eerste_toelating;
                    var dateYear = date.substring(0, 4);
                    $("#brand").val(data[0].merk.charAt(0).toUpperCase() + data[0].merk.slice(1).toLowerCase());
                    $("#brand").attr('disabled', 'disabled');
                    $("#model").val(data[0].voertuigsoort.charAt(0).toUpperCase() + data[0].voertuigsoort.slice(1).toLowerCase());
                    $("#model").attr('disabled', 'disabled');
                    $("#year").val(dateYear);
                    $("#year").attr('disabled', 'disabled');
                    $("#color").val(data[0].eerste_kleur.charAt(0).toUpperCase() + data[0].eerste_kleur.slice(1).toLowerCase());
                    $("#color").attr('disabled', 'disabled');
                    $("#fuelType").val(data[0].brandstof_omschrijving.charAt(0).toUpperCase() + data[0].brandstof_omschrijving.slice(1).toLowerCase());
                    $("#fuelType").attr('disabled', 'disabled');
                }
            });

        });
    });

</script>