@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css">

@if (TempData.ContainsKey("SuccesMessage"))
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}
<div class="accordion mt-0" id="accordionExample">
    <div class="card">
        <button class="btn btn-link w-100 collapsed mx-auto d-block" type="button" data-toggle="collapse" data-target="#collapseGraphs" aria-expanded="false" aria-controls="collapseGraphs" onclick="switchCaret()">
            <div class="card-header">
                <h5 class="mb-0">
                    <i id="accordionIcon" class="fas fa-caret-down"></i>
                </h5>
            </div>
        </button>

        <div id="collapseGraphs" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div><canvas id="lineChart"></canvas></div>
                @{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }            
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Uw voertuigen</h1>
</div>
<div class="row">
    @if (Model.Vehicles != null)
    {
        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="card col-xs-12 col-md-6 text-center">
                <div class="card-body ">
                    <a href="/ViewVehicle/@vehicle.License">
                        <h3 class="card-title mb-0">@vehicle.Brand_Name @vehicle.Model_Name</h3>
                        <div class="card-text">
                            <h4>@vehicle.License</h4>
                            <b>Gemiddelde kosten per maand</b>
                            <p class="m-0">€@Math.Round(vehicle.AvgCosts, 2)</p>
                            <b>Kilometerstand</b>
                            <p class="m-0">@vehicle.Mileage_Km.ToString("N", new CultureInfo("nl-NL", false).NumberFormat).Split(',').FirstOrDefault()</p>
                        </div>
                        @if (vehicle.Vehicle_Image != null)
                        {
                            <img class="cropped mx-auto d-block" src="/images/@vehicle.License - @vehicle.Vehicle_Image" alt="Vehicle picture" />
                        }
                        else
                        {
                            <img class="cropped mx-auto d-block" src="~/images/stock car.png" alt="Vehicle picture">
                        }
                    </a>
                    <a href="/AddCost/@vehicle.License" class="mt-2 btn btn-light border-dark">Kosten toevoegen</a>
                </div>
            </div>
        }
    }
    <div class="card add col-xs-12 col-md-6 align-content-center">
        <a asp-page="/AddVehicle" class="mx-auto">
            <img class="col-xs-6 w-50 mx-auto d-block" src="~/assets/icons/plus.png" />
        </a>
    </div>
</div>

<script>
    function switchCaret() {
        var element = document.getElementById("accordionIcon");
        if (document.querySelector(".accordion .btn-link").classList.contains('collapsed')) {
            element.classList.add('fa-caret-up');
        } else {
            element.classList.remove('fa-caret-up');
            element.classList.add('fa-caret-down');
        }
    }

    window.addEventListener("load",
        function() {
            @Html.Raw(chart.CreateChartCode("lineChart"))
        });

</script>
