@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Overview.css">
@if (TempData.ContainsKey("SuccesMessage"))
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}
<div class="accordion mt-0" id="accordionExample">
    <div class="card">
        <button class="btn btn-link w-100 collapsed mx-auto d-block" type="button" data-toggle="collapse" data-target="#collapseGraphs" aria-expanded="false" aria-controls="collapseGraphs" onclick="switchCaret()">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <i id="accordionIcon" class="fas fa-caret-down"></i>
                </h5>
            </div>
        </button>

        <div id="collapseGraphs" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Uw voertuigen</h1>
</div>
<div class="row">
    @foreach (var vehicle in Model.Vehicles)
    {
        <div class="card col-xs-12 col-md-6 text-center">
            <div class="card-body ">
                <a href="/ViewVehicle/@vehicle.License">
                    <h3 class="card-title mb-0">@vehicle.Brand_Name @vehicle.Model_Name</h3>
                    <div class="card-text">
                        <h4>@vehicle.License</h4>
                        <b>Gemiddelde kosten per maand</b>
                        <p class="m-0">€170,40</p>
                        <b>Kilometerstand</b>
                        <p class="m-0">@vehicle.Mileage_Km</p>
                    </div>
                    <img class="mx-auto d-block" width="200" src="https://parkers-images.bauersecure.com/gallery-image/pagefiles/204617/static-exterior/1752x1168/ar_896.jpg" alt="Car picture">
                </a>
                <a href="/AddCost/@vehicle.License" class="mt-2 btn btn-light border-dark">Kosten toevoegen</a>
            </div>
        </div>
    }
    <div class="card add col-xs-12 col-md-6 align-content-center">
        <a asp-page="/AddVehicle" class="mx-auto">
            <img class="col-xs-6 w-50 mx-auto d-block" src="~/assets/icons/plus.png"/>
        </a>
    </div>
</div>

<script>
    function switchCaret() {
        var element = document.getElementById("accordionIcon");
        if (document.querySelector(".accordion .btn-link").classList.contains('collapsed')) {
            element.classList.add('fa-caret-up');
        }
        else {
            element.classList.remove('fa-caret-up');
            element.classList.add('fa-caret-down');
        }
    }
    window.addEventListener("load", function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });

</script>
