@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css">

@if (TempData.ContainsKey("SuccesMessage"))
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}

<div class="row justify-content-between">
    <div class="col-auto">
        <h1>Uw voertuigen</h1>
    </div>
    <div class="col-auto mt-2">
        <a asp-page="/AddVehicle" class="btn btn-primary">
            Voertuig toevoegen <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<div class="row">
    @if (Model.Vehicles != null)
    {
        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="col-xs-12 col-md-6 pb-3">
                <a href="/ViewVehicle/@vehicle.License" class="add">
                    <div class="card text-center">
                        <div class="card-body add">
                            <h3 class="card-title mb-0">@vehicle.Brand_Name @vehicle.Model_Name</h3>
                            <div class="card-text">
                                <h4>@vehicle.License</h4>
                                <b>Gemiddelde kosten per maand</b>
                                <p class="m-0">€@Math.Round(vehicle.AvgCosts, 2)</p>
                                <b>Kilometerstand</b>
                                <p class="m-0">@vehicle.Mileage_Km.ToString("N", new CultureInfo("nl-NL", false).NumberFormat).Split(',').FirstOrDefault()</p>
                            </div>
                            @if (vehicle.Vehicle_Image != null)
                            {
                                <img class="cropped mx-auto d-block" src="/images/@vehicle.License - @vehicle.Vehicle_Image" alt="Vehicle picture" />
                            }
                            else
                            {
                                <img class="cropped mx-auto d-block" src="~/images/stock car.png" alt="Vehicle picture">
                            }

                            <object><a href="/AddCost/@vehicle.License" class="mt-2 btn btn-light border-dark">Kosten toevoegen <i class="fas fa-plus"></i></a></object>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>

<div class="accordion mt-0" id="accordionExample">
    <div class="card">
        <div class="card-header p-0" id="collapseHeader" style="margin-bottom: 0px;">
            <button class="btn btn-light btn-block m-0 p-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseGraphs" aria-expanded="false" aria-controls="collapseGraphs" onclick="switchCaret()">
                <b>Grafiek van uw voertuigen</b> <i id="accordionIcon" style="font-size: 30px; vertical-align: middle;" class="fas fa-caret-down"></i>
            </button>
        </div>
        <div id="collapseGraphs" class="collapse" aria-labelledby="collapseHeader" data-parent="#accordionExample">
            <div class="card-body">
                <form method="get">
                    <input class="form-control col-2 d-inline" value="@Model.Year" asp-for="Year" />
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Year">Go!</button>
                </form>
                <div><canvas id="lineChart"></canvas></div>
                @{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }
            </div>
        </div>
    </div>
</div>

<script>
    function switchCaret() {
        var element = document.getElementById("accordionIcon");
        if (document.querySelector(".accordion .btn").classList.contains('collapsed')) {
            element.classList.add('fa-caret-up');
            setTimeout(function() {
                document.getElementById('lineChart').scrollIntoView({
                    behavior: "smooth"
                });
            }, 400);
        } else {
            element.classList.remove('fa-caret-up');
            element.classList.add('fa-caret-down');
        }
    }

    window.addEventListener("load",
        function() {
            @Html.Raw(chart.CreateChartCode("lineChart"))
        });
</script>
