@page
@model MileAway.Pages.Shared.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/profile.css">

<div class="text-center">
    <h1>Gebruikersgegevens</h1>
</div>

<br />
<div class="row">
    <div class="col-12 text-center">
        @if (Model.User.User_Image != null)
        {
            <img class="cropped" src="/images/@Model.User.Email - @Model.User.User_Image" alt="Profile picture" />
        }
        else
        {
            <img class="cropped" src="/assets/icons/profile.png" alt="Profile picture" />
        }
    </div>
</div>

<br />

<ul class="list-group">
    <li class="list-group-item">Voornaam: @Model.User.First_Name </li>
    <li class="list-group-item">Achternaam: @Model.User.Last_Name </li>
    <li class="list-group-item">E-mailadres: @Model.User.Email </li>
    @*<li class="list-group-item">Wachtwoord: @Model.User.FirstName </li>*@
</ul>

<br />
<br />

@*//TODO: add edit buttons in Modal, image can change too*@

<div class="row">
    <div class="col-6 text-center mx-auto">
        <button id="btn-aanpassen" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editModal">Wijzigen</button>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Profiel wijzigen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 16px">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>