@page
@model MileAway.Pages.Shared.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/profile.css">

<div class="text-center">
    <h1>Gebruikersgegevens</h1>
</div>

<br />
<div class="row">
    <div class="col-12 text-center">
        @if (Model.User.User_Image != null)
        {
            <img class="cropped" src="/images/@Model.User.Email - @Model.User.User_Image" alt="Profile picture" />
        }
        else
        {
            <img class="cropped" src="/assets/icons/profile.png" alt="Profile picture" />
        }
    </div>
</div>

<br />

<ul class="list-group">
    <li class="list-group-item">Voornaam: @Model.User.First_Name </li>
    <li class="list-group-item">Achternaam: @Model.User.Last_Name </li>
    <li class="list-group-item">E-mailadres: @Model.User.Email </li>
    @*<li class="list-group-item">Wachtwoord: @Model.User.FirstName </li>*@
</ul>

<br />
<br />

@*//TODO: add edit buttons in Modal, image can change too*@

<div class="row">
    <div class="col-6 text-center">
        <button id="btn-anpassen" type="button" class="btn btn-primary btn-lg">Aanpassen</button>
    </div>
    <div class="col-6  text-center">
        <button id="btn-changepass" type="button" class="btn btn-primary btn-lg">Wachtwoord veranderen</button>
    </div>
</div>