@page "{license}"
@using System.Globalization
@model MileAway.Pages.ViewVehicleModel
@{
    ViewData["Title"] = "Bekijk voertuig";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/ViewVehicle.css">

<div class="row">
    <div class="card col-xs-12 col-md-6 mx-auto text-center">
        <div class="card-body ">
            <div style="font-size: 20px">
                <a data-toggle="modal" data-target="#editModal"><i class="fas fa-edit float-left"></i></a>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt float-right" style="color: red;"></i></a>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Voertuig verwijderen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="font-size: 16px">
                                <p>Weet u zeker dat u <b>@Model.Vehicle.Brand_Name @Model.Vehicle.Model_Name</b> wilt verwijderen, dit is niet om te keren.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                <a class="btn btn-danger" asp-page-handler="DeleteVehicle" asp-route-id="@Model.Vehicle.License">Verwijderen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="card-title m-0">@Model.Vehicle.Brand_Name @Model.Vehicle.Model_Name</h2>
            <h5>@Model.Vehicle.License</h5>
                @if (Model.Vehicle.Vehicle_Image != null)
                {
                    <img class="cropped" src="/images/@Model.Vehicle.License - @Model.Vehicle.Vehicle_Image" alt="Vehicle picture" />
                }
                else
                {
                    <img class="mx-auto d-block" width="200" src="~/images/stock car.png" alt="Car picture">
                }            <table class="table table-sm mt-3">
                <tbody>
                    <tr>
                        <td>Kenteken: </td>
                        <td>@Model.Vehicle.License</td>

                    </tr>
                    <tr>
                        <td>Merk: </td>
                        <td>@Model.Vehicle.Brand_Name </td>
                    </tr>
                    <tr>
                        <td>Model: </td>
                        <td>@Model.Vehicle.Model_Name </td>
                    </tr>
                    <tr>
                        <td>Kleur: </td>
                        <td>@Model.Vehicle.Color </td>
                    </tr>
                    <tr>
                        <td>Kilometerstand: </td>
                        <td>@Model.Vehicle.Mileage_Km.ToString("N", new CultureInfo("nl-NL", false).NumberFormat).Split(',').FirstOrDefault() </td>
                    </tr>
                    <tr>
                        <td>Wegenbelasting: </td>
                        <td>€@Model.FixedCosts.Road_Tax</td>
                    </tr>
                    <tr>
                        <td>Verzekering: </td>
                        <td>€@Model.FixedCosts.Insurance </td>
                    </tr>
                </tbody>
            </table>

            <h2>Kostengeschiedenis</h2>
            <table class="table table-sm">
                <tbody>
                    @foreach (var item in Model.Costs)
                    {
                        <tr>
                            @if (item.Typecost_Id == 2)
                            {
                                <td>Reparatie: <i class="fa fa-download" aria-hidden="true"></i></td>
                                <td>€@item.Cost</td>
                                <td>@item.Date_Of_Cost.ToShortDateString()</td>
                            }
                            else
                            {

                                <td>@item.TypeCost_Name</td>
                                <td>€@item.Cost</td>
                                <td>@item.Date_Of_Cost.ToShortDateString()</td>
                            }
                        </tr>
                    }
                    @*<tr>
                            @foreach (var item in Model.Costs)
                            {
                                @if (item.Typecost_Id == 3)
                                {
                                    <td>@item.TypeCost_Name</td>
                                    <td>€@item.Cost</td>
                                    break;
                                }
                            }
                        </tr>
                        <tr>
                            @foreach (var item in Model.Costs)
                            {
                                @if (item.Typecost_Id == 4)
                                {
                                    <td>@item.TypeCost_Name</td>
                                    <td>€@item.Cost</td>
                                    break;
                                }
                            }
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
