@page "{license}"
@using System.Globalization
@model MileAway.Pages.ViewVehicleModel
@{
    ViewData["Title"] = "Bekijk voertuig";
    Layout = "_Layout";
    var i = 0;
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"
        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;</script>
}
<link rel="stylesheet" href="~/css/ViewVehicle.css">

<div class="row">
    <div class="card col-xs-12 col-md-6 mx-auto text-center">
        <div class="card-body ">
            <div style="font-size: 20px">
                <i class="fas fa-edit float-left link" data-toggle="modal" data-target="#editModal"></i>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="post" asp-page-handler="Update" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Voertuig wijzigen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="font-size: 16px">
                                    @if (Model.Error != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @Model.Error
                                        </div>
                                    }
                                    <h4>Voertuig</h4>
                                    <div class="form-group">
                                        <label for="inputBrand">Merknaam</label>
                                        <input asp-for="Vehicle.Brand_Name" type="text" class="form-control" id="inputBrand" placeholder="Merknaam">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Brand_Name"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputModel">Modelnaam</label>
                                        <input asp-for="Vehicle.Model_Name" type="text" class="form-control" id="inputModel" placeholder="Modelnaam">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Model_Name"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputColor">Bouwjaar</label>
                                        <input asp-for="Vehicle.Manufacturing_Year" type="text" class="form-control" id="inputYear" placeholder="Bouwjaar">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Manufacturing_Year"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputColor">Kleur</label>
                                        <input asp-for="Vehicle.Color" type="text" class="form-control" id="inputColor" placeholder="Kleur">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Color"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFuel">Brandstoftype</label>
                                        <input asp-for="Vehicle.FuelType" type="text" class="form-control" id="inputFuel" placeholder="Brandstoftype">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.FuelType"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMileage">Kilometerstand</label>
                                        <input asp-for="Vehicle.Mileage_Km" type="text" class="form-control" id="inputMileage" placeholder="Kilometerstand">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Mileage_Km"></span>
                                    </div>
                                    <div>
                                        <label class="form-label" for="vehiclePicture">Voertuigafbeelding</label>
                                        <input accept="image/*" type="file" class="form-control" id="vehiclePicture" asp-for="Photo" />
                                        <span class="invalid-feedback" asp-validation-for="Photo"></span>
                                    </div>
                                    <br />
                                    <h4>Kosten</h4>
                                    <div class="form-group">
                                        <label for="inputMileage">Wegenbelasting bedrag</label>
                                        <input asp-for="Vehicle.Road_Tax" type="text" class="form-control" id="inputRoadTax" placeholder="Wegenbelasting">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Road_Tax"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMileage">Verzekering bedrag</label>
                                        <input asp-for="Vehicle.Insurance" type="text" class="form-control" id="inputInsurance" placeholder="Verzekering">
                                        <span class="invalid-feedback" asp-validation-for="Vehicle.Insurance"></span>
                                    </div>
                                    <br />
                                    <div class="text-center">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                    <button type="submit" class="btn btn-primary">Wijzigingen opslaan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <i class="fas fa-trash-alt float-right link" style="color: red;" data-toggle="modal" data-target="#deleteModal"></i>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Voertuig verwijderen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="font-size: 16px">
                                <p>Weet u zeker dat u <b>@Model.Vehicle.Brand_Name @Model.Vehicle.Model_Name</b> wilt verwijderen, dit is niet om te keren.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                                <a class="btn btn-danger" asp-page-handler="DeleteVehicle" asp-route-id="@Model.Vehicle.License">Verwijderen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="card-title m-0">@Model.Vehicle.Brand_Name @Model.Vehicle.Model_Name</h2>
            <h5>@Model.Vehicle.License</h5>
            @if (Model.Vehicle.Vehicle_Image != null)
            {
                <img class="cropped mx-auto d-block" src="/images/@Model.Vehicle.License - @Model.Vehicle.Vehicle_Image" alt="Vehicle picture" /> }
            else
            {
                <img class="cropped mx-auto d-block" src="~/images/stock car.png" alt="Vehicle picture">}
            <table class="table table-sm mt-3">
                <tbody>
                    <tr>
                        <td>Kenteken: </td>
                        <td>@Model.Vehicle.License</td>
                    </tr>
                    <tr>
                        <td>Merk: </td>
                        <td>@Model.Vehicle.Brand_Name </td>
                    </tr>
                    <tr>
                        <td>Model: </td>
                        <td>@Model.Vehicle.Model_Name </td>
                    </tr>
                    <tr>
                        <td>Kleur: </td>
                        <td>@Model.Vehicle.Color </td>
                    </tr>
                    <tr>
                        <td>Kilometerstand: </td>
                        <td>@Model.Vehicle.Mileage_Km.ToString("N", new CultureInfo("nl-NL", false).NumberFormat).Split(',').FirstOrDefault() </td>
                    </tr>
                    <tr>
                        <td>Wegenbelasting: </td>
                        <td>€@Model.Vehicle.Road_Tax</td>
                    </tr>
                    <tr>
                        <td>Verzekering: </td>
                        <td>€@Model.Vehicle.Insurance </td>
                    </tr>
                </tbody>
            </table>

            <h2>Kostengeschiedenis</h2>
            <table class="table table-sm">
                <tbody>
                    @foreach (var item in Model.Costs)
                    {
                        @if (i < 12)
                        {
                            <tr>
                                @if (item.Typecost_Id == 2)
                                {
                                    <td>Reparatie: <i class="fa fa-download" aria-hidden="true"></i></td>
                                    <td>€@item.Cost</td>
                                    <td>@item.Date_Of_Cost.ToString("dd-MM-yyyy")</td>
                                }
                                else
                                {

                                    <td>@item.TypeCost_Name</td>
                                    <td>€@item.Cost</td>
                                    <td>@item.Date_Of_Cost.ToString("dd-MM-yyyy")</td>
                                }
                            </tr>
                        }
                        @if (i > 12)
                        {
                            <tr class="collapse" id="collapseTable">
                                @if (i == 13)
                                {
                                    <div id="accordionContent" />
                                }
                                @if (item.Typecost_Id == 2)
                                {
                                    <td>Reparatie: <i class="fa fa-download" aria-hidden="true"></i></td>
                                    <td>€@item.Cost</td>
                                    <td>@item.Date_Of_Cost.ToString("dd-MM-yyyy")</td>
                                }
                                else
                                {

                                    <td>@item.TypeCost_Name</td>
                                    <td>€@item.Cost</td>
                                    <td>@item.Date_Of_Cost.ToString("dd-MM-yyyy")</td>
                                }
                            </tr>
                        }
                        { i++; }
                    }
                </tbody>
            </table>
            <div class="accordion">
                <div class="card-header p-0" id="collapseHeader" style="margin-bottom: 0px;">
                    <button class="btn btn-light btn-block m-0 p-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable" onclick="switchCaret()">
                        <b>Toon meer/minder kosten</b> <i id="accordionIcon" style="font-size: 30px; vertical-align: middle;" class="fas fa-caret-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
